<!-- AUTH PAGES (NO LAYOUT) -->
<ng-container *ngIf="!showLayout">
  <router-outlet></router-outlet>
</ng-container>

<!-- MAIN APP LAYOUT -->
<ng-container *ngIf="showLayout">
  <mat-sidenav-container class="layout-container">

    <mat-sidenav mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-navbar></app-navbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>
