// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  // Overrides to match our CSS variables where Material uses its own
  --mat-toolbar-container-background-color: var(--primary-color);
  --mat-toolbar-container-text-color: var(--text-inverse);
  // Button overrides
  --mdc-filled-button-container-color: var(--primary-color);
  --mdc-filled-button-label-text-color: #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-bg);
}